<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Now Playing</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <section class="{{ class_names }}">
      <h1 id="heading">{{heading}}</h1>
      <ul class="slider">
        {% for poster in movie_posters %}
        <li class="slider__slide">
          <img src="/posters/{{ poster }}" />
          <div
            class="img"
            style="background-image: url('/posters/{{ poster }}');"
          ></div>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script>
      const showHeading = !!'{{heading}}'
    </script>
    <script src="/static/script.js"></script>
  </body>
</html>
